.chat{
    overflow: auto;
    height: 100%;
    position: relative;
}
.video-wrap{
    // width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.btn-wrap{
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
    button{
        cursor:pointer;
        height: 30px;
        margin-left: 20px;
    }
}